In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
path = r"C:\Users\anish\02-2025 Instacart Basket Analysis"

In [5]:
path

'C:\\Users\\anish\\02-2025 Instacart Basket Analysis'

In [7]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data' , 'Prepared Data' , 'orders_products_merged_derived.pkl'))

## Question 2

In [10]:
df_ords_prods_merge.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.213779
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.171095
12               15.887671
13               16.583536
14               16.771241
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## Question 3

Compared to the subset, the entire dataframe has a higher mean order numbers across the departments. We can assume that it captured a broader range of customer behaviors compared to the subset. Some departments's mean value are higher or lower compared to the subset.

## Question 4

In [19]:
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\anish\AppData\Local\Temp\ipykernel_9288\136815596.py:1: FutureWarning: The provided callable <function max at 0x0000023270838360> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [21]:
df_ords_prods_merge.head(25)

,order_id,user_id,order_number,orders_day_of_week,orders_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average busy days,Average orders,10
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy,Average busy days,Average orders,10
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Average busy days,Average orders,10
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Average busy days,Average orders,10
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy,Average busy days,Average orders,10
5,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
6,2398795,1,2,3,7,15.0,10258,2,0,both,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10
7,2398795,1,2,3,7,15.0,12427,3,1,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Average orders,10
8,2398795,1,2,3,7,15.0,13176,4,0,both,Bag of Organic Bananas,24,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
9,2398795,1,2,3,7,15.0,26088,5,1,both,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy,Slowest days,Average orders,10
10,2398795,1,2,3,7,15.0,13032,6,0,both,Cinnamon Toast Crunch,121,14,4.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10
11,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
12,473747,1,3,3,12,21.0,12427,2,1,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Most orders,10
13,473747,1,3,3,12,21.0,10258,3,1,both,Pistachios,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Most orders,10
14,473747,1,3,3,12,21.0,25133,4,0,both,Organic String Cheese,21,16,8.6,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
15,473747,1,3,3,12,21.0,30450,5,0,both,Creamy Almond Butter,88,13,3.2,both,Low-range product,Regularly busy,Slowest days,Most orders,10
16,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
17,2254736,1,4,4,7,29.0,12427,2,1,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Least busy,Slowest days,Average orders,10
18,2254736,1,4,4,7,29.0,10258,3,1,both,Pistachios,117,19,3.0,both,Low-range product,Least busy,Slowest days,Average orders,10
19,2254736,1,4,4,7,29.0,25133,4,1,both,Organic String Cheese,21,16,8.6,both,Mid-range product,Least busy,Slowest days,Average orders,10
20,2254736,1,4,4,7,29.0,26405,5,1,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Least busy,Slowest days,Average orders,10
21,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10
22,431534,1,5,4,15,28.0,12427,2,1,both,Original Beef Jerky,23,19,4.4,both,Low-range product,Least busy,Slowest days,Most orders,10
23,431534,1,5,4,15,28.0,10258,3,1,both,Pistachios,117,19,3.0,both,Low-range product,Least busy,Slowest days,Most orders,10
24,431534,1,5,4,15,28.0,25133,4,1,both,Organic String Cheese,21,16,8.6,both,Mid-range product,Least busy,Slowest days,Most orders,10

In [23]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [25]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15877395
Loyal customer      10284396
New customer         6244250
Name: count, dtype: int64

In [27]:
df_ords_prods_merge.head(25)

,order_id,user_id,order_number,orders_day_of_week,orders_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,...,aisle_id,department_id,prices,match,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,both,...,77,7,9.0,both,Mid-range product,Regularly busy,Average busy days,Average orders,10,New customer
1,2539329,1,1,2,8,NaN,14084,2,0,both,...,91,16,12.5,both,Mid-range product,Regularly busy,Average busy days,Average orders,10,New customer
2,2539329,1,1,2,8,NaN,12427,3,0,both,...,23,19,4.4,both,Low-range product,Regularly busy,Average busy days,Average orders,10,New customer
3,2539329,1,1,2,8,NaN,26088,4,0,both,...,23,19,4.7,both,Low-range product,Regularly busy,Average busy days,Average orders,10,New customer
4,2539329,1,1,2,8,NaN,26405,5,0,both,...,54,17,1.0,both,Low-range product,Regularly busy,Average busy days,Average orders,10,New customer
5,2398795,1,2,3,7,15.0,196,1,1,both,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
6,2398795,1,2,3,7,15.0,10258,2,0,both,...,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer
7,2398795,1,2,3,7,15.0,12427,3,1,both,...,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer
8,2398795,1,2,3,7,15.0,13176,4,0,both,...,24,4,10.3,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
9,2398795,1,2,3,7,15.0,26088,5,1,both,...,23,19,4.7,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer
10,2398795,1,2,3,7,15.0,13032,6,0,both,...,121,14,4.0,both,Low-range product,Regularly busy,Slowest days,Average orders,10,New customer
11,473747,1,3,3,12,21.0,196,1,1,both,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
12,473747,1,3,3,12,21.0,12427,2,1,both,...,23,19,4.4,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer
13,473747,1,3,3,12,21.0,10258,3,1,both,...,117,19,3.0,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer
14,473747,1,3,3,12,21.0,25133,4,0,both,...,21,16,8.6,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
15,473747,1,3,3,12,21.0,30450,5,0,both,...,88,13,3.2,both,Low-range product,Regularly busy,Slowest days,Most orders,10,New customer
16,2254736,1,4,4,7,29.0,196,1,1,both,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
17,2254736,1,4,4,7,29.0,12427,2,1,both,...,23,19,4.4,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer
18,2254736,1,4,4,7,29.0,10258,3,1,both,...,117,19,3.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer
19,2254736,1,4,4,7,29.0,25133,4,1,both,...,21,16,8.6,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
20,2254736,1,4,4,7,29.0,26405,5,1,both,...,54,17,1.0,both,Low-range product,Least busy,Slowest days,Average orders,10,New customer
21,431534,1,5,4,15,28.0,196,1,1,both,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
22,431534,1,5,4,15,28.0,12427,2,1,both,...,23,19,4.4,both,Low-range product,Least busy,Slowest days,Most orders,10,New customer
23,431534,1,5,4,15,28.0,10258,3,1,both,...,117,19,3.0,both,Low-range product,Least busy,Slowest days,Most orders,10,New customer
24,431534,1,5,4,15,28.0,25133,4,1,both,...,21,16,8.6,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer

## Question 5

In [30]:
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386229  1.0  99999.0
New customer      13.294406  1.0  99999.0
Regular customer  12.495501  1.0  99999.0

Loyal customers tend to spend less as their mean is the least, while new customers spend the most with their mean being the highest. Regular customers are in the middle.

## Question 6

In [34]:
df_ords_prods_merge['avg_product_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\anish\AppData\Local\Temp\ipykernel_9288\3788972221.py:1: FutureWarning: The provided callable <function mean at 0x0000023270838D60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods_merge['avg_product_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [36]:
df_ords_prods_merge.loc[df_ords_prods_merge['avg_product_price'] >= 10, 'spending_flag'] = 'High spender'
df_ords_prods_merge.loc[df_ords_prods_merge['avg_product_price'] < 10, 'spending_flag'] = 'Low spender'

In [40]:
df_ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31771789
High spender      634252
Name: count, dtype: int64

In [44]:
df_ords_prods_merge[['user_id', 'avg_product_price', 'spending_flag']].head(50)

    user_id  avg_product_price spending_flag
0         1           6.367797   Low spender
1         1           6.367797   Low spender
2         1           6.367797   Low spender
3         1           6.367797   Low spender
4         1           6.367797   Low spender
5         1           6.367797   Low spender
6         1           6.367797   Low spender
7         1           6.367797   Low spender
8         1           6.367797   Low spender
9         1           6.367797   Low spender
10        1           6.367797   Low spender
11        1           6.367797   Low spender
12        1           6.367797   Low spender
13        1           6.367797   Low spender
14        1           6.367797   Low spender
15        1           6.367797   Low spender
16        1           6.367797   Low spender
17        1           6.367797   Low spender
18        1           6.367797   Low spender
19        1           6.367797   Low spender
20        1           6.367797   Low spender
21        1           6.367797   Low spender
22        1           6.367797   Low spender
23        1           6.367797   Low spender
24        1           6.367797   Low spender
25        1           6.367797   Low spender
26        1           6.367797   Low spender
27        1           6.367797   Low spender
28        1           6.367797   Low spender
29        1           6.367797   Low spender
30        1           6.367797   Low spender
31        1           6.367797   Low spender
32        1           6.367797   Low spender
33        1           6.367797   Low spender
34        1           6.367797   Low spender
35        1           6.367797   Low spender
36        1           6.367797   Low spender
37        1           6.367797   Low spender
38        1           6.367797   Low spender
39        1           6.367797   Low spender
40        1           6.367797   Low spender
41        1           6.367797   Low spender
42        1           6.367797   Low spender
43        1           6.367797   Low spender
44        1           6.367797   Low spender
45        1           6.367797   Low spender
46        1           6.367797   Low spender
47        1           6.367797   Low spender
48        1           6.367797   Low spender
49        1           6.367797   Low spender

## Question 7

In [57]:
df_ords_prods_merge['median_days_between_orders'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\anish\AppData\Local\Temp\ipykernel_9288\1899012726.py:1: FutureWarning: The provided callable <function median at 0x0000023270A2F9C0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods_merge['median_days_between_orders'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [59]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_between_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['median_days_between_orders'] <= 20) & (df_ords_prods_merge['median_days_between_orders'] > 10), 'order_frequency_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_between_orders'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [61]:
df_ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        21560324
Regular customer          7209005
Non-frequent customer     3636707
NaN                             5
Name: count, dtype: int64

In [63]:
df_ords_prods_merge[['user_id', 'days_since_prior_order', 'median_days_between_orders', 'order_frequency_flag']].head(50)

,user_id,days_since_prior_order,median_days_between_orders,order_frequency_flag
0,1,NaN,20.5,Non-frequent customer
1,1,NaN,20.5,Non-frequent customer
2,1,NaN,20.5,Non-frequent customer
3,1,NaN,20.5,Non-frequent customer
4,1,NaN,20.5,Non-frequent customer
5,1,15.0,20.5,Non-frequent customer
6,1,15.0,20.5,Non-frequent customer
7,1,15.0,20.5,Non-frequent customer
8,1,15.0,20.5,Non-frequent customer
9,1,15.0,20.5,Non-frequent customer
10,1,15.0,20.5,Non-frequent customer
11,1,21.0,20.5,Non-frequent customer
12,1,21.0,20.5,Non-frequent customer
13,1,21.0,20.5,Non-frequent customer
14,1,21.0,20.5,Non-frequent customer
15,1,21.0,20.5,Non-frequent customer
16,1,29.0,20.5,Non-frequent customer
17,1,29.0,20.5,Non-frequent customer
18,1,29.0,20.5,Non-frequent customer
19,1,29.0,20.5,Non-frequent customer
20,1,29.0,20.5,Non-frequent customer
21,1,28.0,20.5,Non-frequent customer
22,1,28.0,20.5,Non-frequent customer
23,1,28.0,20.5,Non-frequent customer
24,1,28.0,20.5,Non-frequent customer
25,1,28.0,20.5,Non-frequent customer
26,1,28.0,20.5,Non-frequent customer
27,1,28.0,20.5,Non-frequent customer
28,1,28.0,20.5,Non-frequent customer
29,1,19.0,20.5,Non-frequent customer
30,1,19.0,20.5,Non-frequent customer
31,1,19.0,20.5,Non-frequent customer
32,1,19.0,20.5,Non-frequent customer
33,1,20.0,20.5,Non-frequent customer
34,1,20.0,20.5,Non-frequent customer
35,1,20.0,20.5,Non-frequent customer
36,1,20.0,20.5,Non-frequent customer
37,1,20.0,20.5,Non-frequent customer
38,1,14.0,20.5,Non-frequent customer
39,1,14.0,20.5,Non-frequent customer
40,1,14.0,20.5,Non-frequent customer
41,1,14.0,20.5,Non-frequent customer
42,1,14.0,20.5,Non-frequent customer
43,1,14.0,20.5,Non-frequent customer
44,1,0.0,20.5,Non-frequent customer
45,1,0.0,20.5,Non-frequent customer
46,1,0.0,20.5,Non-frequent customer
47,1,0.0,20.5,Non-frequent customer
48,1,0.0,20.5,Non-frequent customer
49,1,0.0,20.5,Non-frequent customer

In [65]:
df_ords_prods_merge.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged_aggregated.pkl'))